*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* debug */
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}






section{
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    /* debug */
    
    /* height: 500px; */
}


/* la sottosezione serve principalmente a 
rendere tutto con la stessa width */
.sottosezione{
    width: 70%;
    display: flex;    
    justify-content: center;
    /* debug */
    /* background: rgba(255, 4, 4, 0.228); */
}

.meno-uno{
    
    /* debug */
    background: rgb(27, 45, 205);
    background-image: url(../img/jumbo.png);
    width: 100vw;
    height:37.23vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.prima-riga{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    /* debug */
    height:7%;


}

#logo{
    width: 10%;
    height: auto;
}

#links{
    display: flex;    
    justify-content: center;


}
.link{
    margin:0 10%;
    color: white;
}

.accedi{
    /* width: 70px; */
    padding: 2px 8px;
    text-align: center;
    border-radius: 50px;
    background-color: white;
}
.sottosezione-header{
    width: 40%;
    position: absolute;
    top:35%;

    /* debug */
    /* background: rgba(17, 4, 255, 0.308); */
}

.sottosezione-header h2{    
    text-align: center;
    color: white;
    /* width: 90%; */
}
.sottosezione-header p{    
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    color: white;
}
#tasti-download{
    display: flex;    
    justify-content: center;
    /* debug */
    /* background: #000; */
}
.scarica-mac{
    width: 160px;
    padding: 8px 8px;
    text-align: center;
    border-radius: 50px;
    background-color: white;
}
.apri-discord-browser{
    width: 250px;
    margin-left: 20px;
    padding: 8px 8px;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(77, 77, 77);
    color: white;
}

.metà-immagine{    
    width: 60%;
    height: 100%;

    

    /* debug */
    /* background: rgba(255, 255, 0, 0.395); */
    
}
.metà-scritta{    
    width: 40%;
    padding: 5% 5%;

    
    

    

    /* debug */
    
    /* background: lightblue; */
    
}

h2{    
    color: black;
    font-size: 35px;
    text-align: left;
    /* width: 90%; */
}
p{    
    margin-top: 10%;
    text-align: left;
    /* width: 90%; */
}

.uno, .tre{
    
    background: rgb(240, 240, 240);
}

.tre h2{
    margin-top:7%;
    color: black;
    font-size: 35px;
    text-align: center;
    
    /* debug */
    /* background: #000; */
   
}

.tre p{    
    margin-top:4%;
    text-align: center;
    /* width: 90%; */
}


footer{
    /* debug */
    background: rgb(59, 60, 68);
    width: 100%;
    display: flex;
    justify-content: center;


}

.colonna-footer{
    width: calc(70% / 4);
    
    /* debug */
    background: #000;
    border-left: solid 1px  white;
    border-right: solid 1px  white;
}
.colonna-grande-footer{
    width: 30%;
    text-align: center;

    
    /* debug */
    background: pink;
    height:300px;
}
.blu{
    color:blue;
    margin-top: 10%;
    font-weight: 800;

}
#lingua{
    
}
#ita{
    margin-top: 10px;
    width: 30px;
}

#parte-finale{
    display: flex;    
    justify-content: space-between;
    width: 100%;
    margin-top: 2.5%;
    border-top: 1px solid #000;
    padding-top: 2.5%;

    /* debug */
    height: 50px;

    /* background-color: tomato; */
}
